<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <title>工具集</title>
    <link rel="stylesheet" href="/resource/layui/css/layui.css">
    <style>
        button {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                <button class="layui-btn layui-btn-primary"><a target="_blank" href="/tools/">Base64编码</a></button>
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                <button class="layui-btn layui-btn-primary">Base64编码</button>
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                <button class="layui-btn layui-btn-primary">Base64编码</button>
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                <button class="layui-btn layui-btn-primary">Base64编码</button>
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                <button class="layui-btn layui-btn-primary">Base64编码</button>
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                <button class="layui-btn layui-btn-primary">Base64编码</button>
            </div>
        </div>
    </div>
</body>
</html>